//comentario scss
*{
    margin: 0;
    padding: 0;
}
@import "_operaciones";
@import "tipografia";
@import "modificaciones";
@import "variables";
@import "condicionales";

html{
    display:grid;
    background-image: radial-gradient(blue, blueviolet);
}
header{
    text-align: center;
    background-color:$color;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  
}
ul{
    background-color: salmon;
    &:hover{
        background-color: aqua;
    }
}
p{
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
}
@mixin cosa () {
    color: hotpink;
    background-color: #455;
    font-size: 20px;
    text-transform: uppercase;
    
}
.p{
    font-size: map-get($map, $key: p );
}
.p1{
        @include cosa()
    }
.p2{
        background-color: aqua;
    }
.p3{
        @include cosa()
    }
.p4{
    font-size: map-get($map, $key: p4 );
}


footer{
    color:black;
    text-align: center;
    text-decoration: line-through;
    background-color: $color;
    &:hover{
        background-color: chocolate;
    }
        
    
}

/*comentario css*/
/*compila?*/